
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#content_background {
	
	background-image: url(../images/wallpaper_1.jpg);
	position: relative;
	width: 100%;
	height: 100%;
	
	z-index: 0;
}


#content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	
	width: calc(100% - 6.5em);
	height: inherit;
	
	z-index: 1;
}



#content_summary {
	
	margin: 1.5em;
	margin-top: 13em;
	flex-grow: 1;
	
	height: 300px;
	background-color: white;
	opacity: 0.8;
}

#content_pdf {
	
	margin: 1.5em;
	margin-top: 13em;
	flex-grow: 1.61803398875;
	
	height: 300px;
	background-color: green;
	opacity: 0.7;
	
}





#nav_box {
	
	position: absolute;
	top: 0;
	right: 0;
	background-color: #080808;
	opacity: 0.8;
	width: 6.5em;
	height: 100%;
	z-index: 8;
	
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
    transition: all 0.2s ease;
}
	
	#nav_content {
		
	}
	
#nav_button {
	display: inline-block;
	position: absolute;
	top: 2em;
	right: 2em;
	cursor: pointer;
	z-index: 10;
	
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
    transition: all 0.2s ease;
}



	.bar1, .bar2, .bar3 {
		width: 2.5em;
		height: .3em;
		background-color: #fff;
		margin: .5em 0;
		transition: 0.4s;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-.61em, .5em);
		background-color: #fff;
	}

	.change .bar2 {
		opacity: 0;
		background-color: #fff;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-.61em, -.5em);
		background-color: #fff;
	}
	